.page-not-found {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-not-found__container {
	padding: 246px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.page-not-found__title {
	margin: 0;
	font-weight: 400;
	font-size: 140px;
	line-height: normal;
	color: #000;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.page-not-found__subtitle {
	margin: 20px 0 0;
	font-weight: 400;
	font-size: 16px;
	line-height: normal;
	color: #000;
}

.page-not-found__back-button {
	margin-top: 120px;
	border: none;
	font-weight: 400;
	font-size: 14px;
	line-height: normal;
	color: #ca9d2d;
	background-color: transparent;
}