.app {
  background-color: #fff;
  font-family: "Merienda", "Arial ", sans-serif;
  font-weight: 400;
  min-width: 300px;
  max-width: 1440px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}