.app {
  background-color: #fff;
  font-family: "Merienda", "Arial ", sans-serif;
  font-weight: 400;
  min-width: 300px;
  max-width: 1440px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}