.header {
  font-size: 12px;
  line-height: 18px;
  height: 70px;
  color: #fff;
  display: flex;
  align-items: flex-end;
  margin-left: 150px;
}

.header__link {
  line-height: 17px;
  margin-left: 40px;
  filter: invert(1);
  /* color: #fff; */
}

.header__logo-wrapper {
  margin-bottom: 0px;
}